body {
    border:0;
    margin:0;
    padding: 0;
    font-family: 'Roboto', verdana, helvetica, sans;
    font-size: 150px;
    text-align: center;
    color: white;
    height: 100%;
    background-color: white;
}

div {
    padding: 5% 0 0 0;
    margin: 0;
    border:0;
    word-wrap: break-word;
}

.town {
    min-height:40%;
    text-align:center";
}

.word {
    position: relative;
    height:39%;
    text-align:center";
}

